@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.App {
    text-align: center;
}

@font-face {
    font-family: 'RetroFont';
    src: url("./assets/fonts/clacon2.woff2")
}

/*.App-logo {*/
/*    height: 40vmin;*/
/*    pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*    .App-logo {*/
/*        animation: App-logo-spin infinite 20s linear;*/
/*    }*/
/*}*/

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.bg {
    /* The image used */
    /*background-image: url("./assets/images/corridor.jpg");*/

    /* Full height */
    height: 100vh;
    width: 100%;


    z-index: -10;

    /* Center and scale the image nicely */
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}

.vanished {
    display: none;
}

.cursor {
    animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
    0% {
        color: #000;
    }
    49% {
        color: #000;
    }
    60% {
        color: transparent;
    }
    99% {
        color: transparent;
    }
    100% {
        color: #000;
    }
}

button {
    width: 30vw;
}

#phoneCallButton {
    position: relative;
    display: block;
    top: 20vh;
    left: 10vh;
}

#slamPhoneButton {
    position: relative;
    display: block;
    top: 20vh;
    left: 10vh;
}

.cathodeText {
    /*font-family: RetroFont source-code-pro, Menlo, Monaco, Consolas, 'Courier New';*/
    font-family: RetroFont;
    font-size: 2rem;
    display: flex;
    flex-direction: column-reverse;
    /*overflow-y: scroll;*/
    scroll-snap-type: y mandatory;
    /*background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5));*/
    position: relative;
    top: 22.5vh;
    left: 10vw;
    height: 9vh;
    width: 25vw;
    color: #fee;
    overflow-y: auto;
    /*text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;*/
    text-shadow: 0 -2px 7px, 0 -2px 2px, -5px -5px 1em #ff4444, 0 -2px 0.5em #ff4444, 0 0 0.1em #ff4444, 10px 10px 3px #faa;
}

#cathodeDisplay {
    width: 50vw;
    height: 55vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("./assets/images/cathodeDisplay.png");
    top: 20vh;
    right: 5vw;
}


.buttonDivider {
    width: 1vw;
    height: 20vh;
}

.industrialButton {;
    margin: 0 auto;
    text-wrap: normal;
    background-image: url("./assets/images/industrialButton.png");
    background-size: 150px;
    width: 150px;
    height: 150px;
    font-family: RetroFont;
    text-align: center;
    color: #fee;
    text-shadow: 0 5px 5px, 0 0 2px, 0 0 1em #000000, 0 0 0.1em #000000, 0 0 0.1em #ff4444, 0 10px 3px #000;
}

.resetProgressButton {
    margin: 0 auto;
    text-wrap: normal;
    background-size: 150px;
    width: 50%;
    height: 50vh;
    font-family: RetroFont;
    text-align: center;
    color: #fee;
}

.retro-text {
    font-family: RetroFont;
    color: #fee;
    text-align: center;
    font-size: 3rem;
    text-wrap: normal;
    text-overflow: ellipsis;
    direction: rtl;
    unicode-bidi: plaintext;
}

.has-retro-text {
    font-family: RetroFont;
    font-size: 5vh;
    color: #fee;
}

.has-big-retro-dark-text {
    font-family: RetroFont;
    font-size: 7vh;
    color: rebeccapurple;
}

#information-gathering-instruction {
    align-content: center;
    height: 30vh;
    max-height: 30vh;
    margin-top: 5vh;
    margin-left: 10rem;
    text-align: center;
    position: center;
    text-wrap: normal;
    text-overflow: ellipsis;
    overflow-y: scroll;
    /*vertical-align: baseline;*/
    /*vertical-align: center;*/
}

.handle {
    margin-left: 25vw;
    height: 10rem;
    width: 40rem;
    size: 2rem;
    background-image: url("./assets/images/hazardStripes.jpeg");
    background-size: 105%;
    background-position: center center;
    border-radius: 100px;
}

.handle-box {
    margin-left: 25vw;
    height: 10rem;
    width: 40rem;
    size: 2rem;
    background-size: 105%;
    background-position: center center;
    border-radius: 100px;
    border: 1px dashed gray;
    background-color: white;
    padding: 0.5rem 1rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    cursor: move;
    float: left;
    text-align: center;
    vertical-align: middle;
}

.spacer {
    position: relative;
    height: 40vh
}

.vertical-line {
    border-left: 6px solid white;
    height: 40vh;
    position: absolute;
}