@font-face {
    font-family: 'RetroFont';
    src: url("./assets/fonts/clacon2.woff2")
}

@font-face {
    font-family: 'FactoryFont';
    src: url("./assets/fonts/factory.ttf")
}

body {
    background-color: #000000 !important;
}

.no-scroll {
    overflow: hidden!important;
}

.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after { clear: both; }
main {
    height: 100%;
    display: contents;
}

.background {
    z-index:-1;
    background-size: cover!important;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#reception-background{
    background: url("./assets/images/receptionBackground.png");

}
#panorama {
  background-image: url("./assets/images/prypiatPanoramaHiRes.jpg");
  animation: slide 20s linear infinite;
}

#catastrophy {
  background-image: url("./assets/images/catastrophy/bridgeOfDeath.jpg");
}

#office-background {
  background-image: url("./assets/images/officeBackground.jpeg");
}

/*  */
#controlRoomSubViewBackground {


}
/********************************/
#rustyDoor {
  background: url("./assets/images/rustyDoor.jpg");
}
:root {
    --colorShadeA: rgb(20, 40, 35);
    --colorShadeB: rgb(24, 48, 42);
    --colorShadeC: rgb(28, 57, 50);
    --colorShadeD: rgb(33, 68, 60);
    --colorShadeE: rgb(39, 81, 72);
}

.vanished {
    display: none;
}

.cursor {
    animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
    0% {
        color: #000;
    }
    49% {
        color: #000;
    }
    60% {
        color: transparent;
    }
    99% {
        color: transparent;
    }
    100% {
        color: #000;
    }
}


.cathodeText {
    /*overflow:auto; display:flex; flex-direction:column-reverse!important;*/
    overflow: auto;
    position: relative;

    margin-top: 15%;
    margin-left: 20%;
    margin-right: 35%;
    margin-down: 15%;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 35%;
    padding-down: 15%;
    font-family: RetroFont;
    font-size: 2rem;

    height: 70%;
    width: 100%;
    color: #fee;
    text-shadow: 0 -2px 7px, 0 -2px 2px, -5px -5px 1em #ff4444, 0 -2px 0.5em #ff4444, 0 0 0.1em #ff4444, 10px 10px 3px #faa;

    -webkit-scrollbar{
        display: none!important;
    }
}
.cathodeText::-webkit-scrollbar{
    display: none!important;
}


#cathodeDisplay {
    z-index:1;
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% 100%;
    background-color: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("./assets/images/cathodeDisplay.png");
}

.buttonDivider {
    width: 1vw;
    height: 20vh;
}

.resetProgressButton {
    margin: 0 auto;
    text-wrap: normal;
    background-size: 150px;
    width: 50%;
    height: 50vh;
    font-family: RetroFont;
    text-align: center;
    color: #fee;
}

.retro-text {
    font-family: RetroFont!important;
    color: #fee!important;
    text-align: center !important;
    font-size: 2rem!important;
    text-wrap: normal;
    text-overflow: ellipsis;
    /*direction: rtl;*/
    unicode-bidi: plaintext;
}

.loader-text {
    color: #fee!important;
    text-align: center !important;
    font-size: 2rem!important;
    text-wrap: normal;
    text-overflow: ellipsis;
    unicode-bidi: plaintext;
}

#information-gathering-instruction {
    align-content: center;
    height: 30vh;
    max-height: 30vh;
    margin-top: 5vh;
    margin-left: 10rem;
    text-align: center;
    position: center;
    text-wrap: normal;
    text-overflow: ellipsis;
    overflow-y: scroll;
    /*vertical-align: baseline;*/
    /*vertical-align: center;*/
}


.handle-box {
    margin-left: 25vw;
    height: 10rem;
    width: 40rem;
    size: 2rem;
    background-size: 105%;
    background-position: center center;
    border-radius: 100px;
    border: 1px dashed gray;
    background-color: white;
    padding: 0.5rem 1rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    /*margin-bottom: 10vh;*/
    cursor: move;
    float: left;
    text-align: center;
}

.centered-on-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.has-text-vertically-centered {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    vertical-align: middle !important;
    align-items: center;
    text-wrap: normal;
    word-wrap: anywhere;
    display: inline-block;
    line-height: normal;
}

.top-bar {
    background-color: transparent !important;
}

.menu-item {
    background-color: transparent!important;
    border: none!important;
    text-align: center!important;
}

.MuiPopover-paper {
    background-color: transparent!important;
    box-shadow: none!important;
}

.MuiOutlinedInput-root {
    border: 0!important;
    background-clip: none!important
}
.MuiFormControl-root {
    border: 0!important;
    background-clip: none!important
}

.MuiSelect-icon {
    display: none !important;
}


.navigation-option-button {
    background-image: url("./assets/images/rustyPanelLabelSmall.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    width:30rem;
    height:7.5rem;
    justify-content: space-evenly !important;
}

.engraved {
    font-weight: lighter;
    font-family: FactoryFont;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.7);

    text-shadow: rgba(240, 240, 240, 0.7) 0.2rem 0.2rem 5px,
    rgba(240, 240, 240, 0.7) 0 -0.2rem 5px,
    rgba(0, 0, 0, 0.7) 0 -0.2rem 2px,
    rgba(240, 240, 240, 0.7) 0 -0.2rem 2px,
    rgba(240, 240, 240, 0.7) 0 -0.1rem 0,
    rgba(240, 240, 240, 0.7) 0.2rem 0 5px,
    rgba(240, 240, 240, 0.7) -0.2rem 0 5px;
}

#panorama-container {
    height: 100vh;
    width: auto;
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}



@keyframes slide {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}

.radiation-hazard {
    /*object-fit: cover;*/
    /*object-fit: fill;*/
    /*height: 200px!important;*/
    /*width: 100%;*/
    background: url("./assets/images/radioactiveBasic.png") no-repeat center center;
    background-size: contain;
    width: 5vw;
    height: auto;
    /*width: 152px*/
}

.extra-big-hazard {
    height: 7rem!important;
    width: 7rem!important;
}
.fill-container {
    height: 100%;
}

.has-transparent-background {
    background-color: transparent !important;
    color: transparent !important;
    box-shadow: none !important;
}

.is-transparent {
    background-color: transparent!important;
}

.navbar-item:hover {
    background-color: transparent !important;
}

.navbar-link {
    background-color: transparent !important;

}

.navbar-link:active {
    background-color: transparent !important;
}

.navbar-link:hover {
    background-color: transparent !important;
}

.spacer {
    position: relative;
    height: 40vh
}

.spacer-half-height {
    position: relative;
    height: 50vh
}

.spacer-quarter-height {
    position: relative;
    height: 25vh
}

.spacer-one-third-height {
    position: relative;
    height: 33.3vh
}

.spacer-one-fifth-height {
    position: relative;
    height: 20vh
}

.spacer-one-tenth-height {
    position: relative;
    height: 10vh
}

.spacer-one-twelfth-height {
    position: relative;
    height: 8.33vh
}


.spacer-one-twentieth-height {
    position: relative;
    height: 5vh
}

.is-vcentered {
    display: flex;
    flex-wrap: wrap;
    align-content: center; /* commenting this out, the multiple lines will have gaps */
    align-items: center; /* commenting this out, the one-line will not align */
}

#registrar {
    background: url("./assets/images/registrar.png") no-repeat center center;
    /*background-size: cover;*/
    background-size: contain;
    position: relative;
    height: 416px;
    /*height: 40vh;*/
}

.registrar-pages {
    margin-left: 0.2vw;
    font-weight: lighter;
    font-family: FactoryFont;
    color: dimgray;
    text-align: center;
    /*width: 100%;*/
    height: 80%
}

.signature-area {
    position: relative;
    background: transparent;
    /*width: 10vw;*/
    /*width: 10vw!important;*/
    font-size: 0.8rem;
    resize: none;
    outline: none;
    border: none;
    /*height: auto;*/
    width: 100%;
    height: 100%
}

.tray {
    /*background-clip: content-box;*/
    /*position: relative;*/
    background: url("./assets/images/quickTray.png") no-repeat right center;
    background-color: transparent !important;
    background-size: contain;
    /*margin-right: -5vw;*/
}

.is-stretched {
    width: 100%;
}

.is-vertically-inverted {
    transform: scaleY(-1);
}

.is-maxed {
    height: 100vh;
    width: 100vw;
}

.is-maxed-within {
    display: flow-root;
    height: 50vh;
    width: 100%;
}

#rustyDoor {

}


.new-line {
    white-space: pre-line;
}

.rc-slider-disabled > :not(.rc-slider-handle) {
    /*height: 0!important;*/
    display: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25%;
}

.az-5 {
    aspect-ratio: 1 / 1;
    width: 50%;
    height: auto;
    text-wrap: normal;
    border-radius: 180px;
    /*padding: 1em 2em;*/
    border: 2px solid var(--colorShadeA);
    background: var(--colorShadeE);
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--colorShadeA);
    font-weight: 700;
    text-transform: uppercase;
    font-family: inherit;
}


.az-5::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorShadeC);
    border-radius: inherit;
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
    transform: translate3d(0, 0.75em, -1em);
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.az-5:hover {
    background: var(--colorShadeD);
    transform: translate(0, 0.375em);
}

.az-5:hover::before {
    transform: translate3d(0, 0.75em, -1em);
}

/*.az-5:active {*/
/*    background-color:var(--colorShadeA);*/
/*    transform: translate(0em, 0.75em);*/
/*}*/

.az-5:active::before {
    transform: translate3d(0, 0, -1em);
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}
